a{
	color: #DDD;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
}
body{
	background: #7FA4A7;
	font-size: 16px;
	margin: 0 auto;
}
form{
	background: #9FC4C7;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: top;
}
h1{
	color: #2F4246;
	font-size: 2em;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0 3px 3px rgba(255, 255, 255,0.5);
}
h2{
	font-size: 1.5em;
	text-align: center;
}
input{
	border-radius: 5px;
	display: block;
	margin: 5px;
	padding: 5px;
}
input[type=submit]{
	background: #2F4246;
	border-radius: 5px;
	border: 0;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7) inset;
	color: #DDD;
}
input[type=submit]:hover{
	background: #2F54A7;
	color: #FFF;
}
label{
	color: #2F4246;
	margin: 5px;
	padding: 5px;
}
table{
	border-collapse: collapse;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
	margin: 0 auto;
	text-align: left;
}
table, th, td{
	background-color: #8FB4B7;
	border: #97A899 3px solid;
}
th, td{
	padding: 10px;
}
td{
	color: #DDD;
	text-align: right;
}
th{
	color: #2F4246;
	font-size: 1.2em;
	text-align: center;
}
#page-content{
	margin: 0 auto;
	width: 840px;
}
#page-header{
	margin: 0 auto;
	width: 840px;
}
#page-footer{
	margin: 0 auto;
	width: 840px;
}
.chart{
	background: #FFF;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
	display: inline-block;
	font-size: 1em;
	margin: 5px;
	padding: 5px;
	vertical-align: top;
}
.chart-box{
	font-size: 0;
	margin: 20px auto;
	width: 840px;
}