{% extends 'base.html' %}
{% load poll_extras %}
{% block title %}Administracion{% endblock %}
{% block header %}
	<h1>Panel administrativo de consultas de datos</h1>
{% endblock %}
{% block content %}
	<form id="form-departamento">
		<label for="departamento">Consulta de ventas por departamento</label>
		<input name="departamento" id="departamento" type="text" placeholder="departamento" />
		<input type="submit" value="Consultar" />
	</form>
	<form id="form-fecha">
		<label for="fecha">Consulta de ventas por fecha</label>
		<input name="fecha" id="fecha" type="date" placeholder="AAAA/MM/DD" />
		<input type="submit" value="Consultar" />
	</form>
	<form id="form-estacion">
		<label for=""></label>
		<input type="submit" value="Consultar" />
	</form>
{% endblock %}
{% block last_script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#form-departamento').submit(function(e){
				e.preventDefault();
				url = $('#departamento').val();
				url = url.replace(' ', '');
				url = url.replace(' ', '');
				$('#form-departamento').attr('action', '/main/ventas/departamento/' + url);
				this.submit();
			});
			$('#form-fecha').submit(function(e){
				e.preventDefault();
				url = $('#fecha').val();
				$('#form-fecha').attr('action', '/main/ventas/' + url);
				this.submit();
			});
			$('#form-estacion').submit(function(e){
				e.preventDefault();
				$('#form-estacion').attr('action', '/main/ventas/estacion');
				this.submit();
			});
		});
	</script>
{% endblock %}