{% extends 'base.html' %}
{% load poll_extras %}
{% block title %}GasNatu{% endblock %}
{% block head %}
	<!--<script type="text/javascript" src="/media/js/chart.js"></script>
	<script type="text/javascript">
		google.load('visualization', '1.0', {'packages':['corechart']});
		google.setOnLoadCallback(function(){
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Mobile OS');
			data.addColumn('number', 'Percentage');
			data.addRows([
				['Android', 5],
				['iOS', 10],
				['Blackberry OS', 2],
				['Windows Phone 7 Series', 1]
			]);
			var options = {
				'title': 'Mobil OS Chart',
				'width': 400,
				'height': 400
			}
			var column = new google.visualization.ColumnChart(document.getElementById('column-chart'));
			var bar = new google.visualization.BarChart(document.getElementById('bar-chart'));
			var pie = new google.visualization.PieChart(document.getElementById('pie-chart'));
			column.draw(data, options);
			bar.draw(data, options);
			pie.draw(data, options);
		});
	</script>
	<style type="text/css">
		article{
			display: inline-block;
			vertical-align: top;
		}
	</style>-->
	<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="/media/js/yui.js"></script>

<script>
// Create a new YUI instance and populate it with the required modules.
	YUI().use('charts', function (Y) {
		var myDataValues = [
    {category:"5/1/2010", values:2000},
    {category:"5/2/2010", values:50},
    {category:"5/3/2010", values:400},
    {category:"5/4/2010", values:200},
    {category:"5/5/2010", values:5000}
		];

		var mychart = new Y.Chart({
    dataProvider: myDataValues,
    render: "#chart"
});
	});
</script>

<style type="text/css">
	#chart{
		width: 600px;
		height: 400px;
	}
</style>
</head>
<body>
	<div id="chart"></div>
</body>
</html>
{% endblock %}
{% block content %}
	<article id="pie-chart"></article>
	<article id="bar-chart"></article>
	<article id="column-chart"></article>
	<div id="chart"></div>
{% endblock %}